## build system files to ignore
gradle-app.setting
.gradle
build
tmp
bin
target

## intellij metadata files
whiteboard.iml
whiteboard.ipr
whiteboard.iws

## eclipse metadata files
.settings
.classpath
.project

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.credentials
Icon?
Thumbs.db
